.container{
    color: white;
}
.content-page{
    display: flex;
    margin: 3em;
}
.content-page p{
    text-align: center;
}
body{
    background-color:  black;
    color: white;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.help-page {
   margin: 3em;
}
b{
    cursor: pointer;
}
.content-about{
    display: flex;
    margin: auto;
    width: 80vw;
    flex-wrap: wrap;
}
#about h1{
    font-size: 3em;
    margin-left: 1em;
}
#feedback h1{
    text-align: center;
}
.content-feedback{
    display: flex;
    width: 90vw;
}
.content-feedback form, input{
    cursor: pointer;
    margin: 2em;
    justify-content: center;
    width: 50vw;
    border: 0px solid transparent;
}
#about h1{
    text-align: center;
}
.input-box input:hover{
    background-color:white ;
}
